[Unit]
Description=Fortune FUSE Filesystem
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /usr/src/fotd/fotd_fuse.py /mnt/fortunes /usr/share/fortune/zippy
Restart=on-failure

[Install]
WantedBy=multi-user.target
